@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: cornflowerblue;
    font-family: "Roboto", sans-serif;
    color: aliceblue;
    text-align: center;
}

header {
    text-align: center;
}

h1 {
    color: darkblue;
}

img {
    width: 200px;
}

main {
    background-color: darkblue;
    width: fit-content;
    text-align: left;
    padding: 25px;
    margin: 20px auto;
    border-radius: 15px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    width: fit-content;
    padding: 0 10px;
    border-left: 5px solid transparent;
    margin: 5px 0; 
}

p > a {
    color: darkblue;
    background-color: cornflowerblue;
    padding: 2px 10px;
    font-weight: bold;
    border-radius: 6px;
}

p > a:hover {
    text-decoration: underline;
}

footer > a {
    color: aliceblue;
    background-color: darkblue;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 4px 4px 4px black;
}

footer > a:hover {
    background-color: #0000AB;
}

footer {
    margin: 40px;
}

#text {
    margin-top: 40px;
}

#text > p {
    margin: 5px;
}

.important {
    color: lime;
    border-color: lime;
}